<!-- </div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Author: Mayank Chandwasia</p>
  </div>
</div> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="/source/off.js"></script>
<script src='/source/validate.js'></script>
</body> -->
<!-- <footer class="page-footer font-small blue"> -->
<footer class="page-footer font-small bg-danger">

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2020 Copyright:
		<a style="text-decoration: none; color: #000;" href="#"> Mayank Chandwasia</a>
	</div>
	<!-- Copyright -->

</footer>

</html>