<%- include('partials/head'); -%>
<%- include('partials/offNav'); -%>
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">ERROR : 404 Page not found!!</h1>
		<hr class="my-4">
		<p class="lead">The page you are looking for could not be found. It may be implemented in the future but as of
			now
			you can't visit this page.</p>
	</div>
</div>
<%- include('partials/offFootSrc'); -%>
<%- include('partials/foot'); -%>